<div class="container">
<h1>Wszystkie wydarzenia</h1>
<ul class="list-group">
    <% for event in @events%>
        <li class="list-group-item"> <%=link_to event.artist, event, :class => "list-group-item list-group-item-action"%> </li>
    <% end %>
</ul>
<%=link_to 'Nowe ogłoszenie', new_event_path, :class => "btn btn-warning" %>
<br>
<a href="/index.html" class="btn btn-primary">Strona główna</a>
</div>